@import url("https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Overpass", sans-serif;
  /* font-family: "Arapey", serif; */
  position: relative;
  @apply bg-content2;
  height: 100dvh;
}
