.loading-bullet {
  animation: blink 1s infinite;
}

.blinking-cursor {
  animation: blink-cursor 0.7s steps(1) infinite;
  -webkit-animation: blink-cursor 0.7s steps(1) infinite;
}

@keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

@keyframes blink-cursor {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
